<div cdkDropListGroup>
  <div class="example-container">

    <div class="card">
      <div class="card-header">
        <li class="nav-item">
          <mat-form-field appearance="legacy">
            <mat-label>Filter groups</mat-label>
            <input matInput placeholder="Ex. FrontEnd" (keyup)="applyFilter($event)" autocomplete="off">
          </mat-form-field>
        </li>
      </div>
      <div class="card-body">
        <div
          cdkDropList
          [cdkDropListData]="filteredGroups"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of filteredGroups" cdkDrag>{{item.name}}</div>
        </div>
      </div>
    </div>


  </div>

  <div class="example-container">
    <h2>Employees</h2>

    <div
      cdkDropList
      [cdkDropListData]="employees"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of employees; let i = index" cdkDrag>
        <div class="card">
          <div class="card-header">{{item.name}}</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birthday</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let employee of groupedEmployees[i]">
                <th scope="row">1</th>
                <td>{{employee.name}}</td>
                <td>{{employee.last_name}}</td>
                <td>@{{employee.birthday}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
